.container-fluid {
    background-image: url('/assets/img/e-commerce.jpg');
  }
  :host ::ng-deep .p-inputtext {
    text-align: left;
  }
  .col{
    max-height: 800px;
      }
      .row{
    max-height: 800px;
      }