.container-fluid {
    background-image: url('/assets/img/money.jpg');
  }
  .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
  }
  :host ::ng-deep .p-inputtext {
    text-align: left;
  }
  
  :host ::ng-deep .p-dialog-content {
    background-image: url('/assets/img/budget.jpg');
    background-color: aquamarine !important;
    color: #495057;
    padding: 0 1.5rem 2rem 1.5rem;
}
.col{
  max-height: 800px;
    }
    .row{
  max-height: 800px;
    }