<div class="container-fluid">
    <div class="row">
      <div class="col">
        <p-card header="Nuovo Fornitore" [style]="{ width: '700px', height: 'auto' }" class="vh-100 d-flex align-items-center justify-content-center" subheader="Inserisci un nuovo Fornitore.">
          <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
            <div class="row">
              <div class="col text-center py-4">
                <br>
                <form [formGroup]="formNuovo">
                  <div class="row">
                    <div class="col-md-6">
                    <label for="RagioneS" style="display: block; font-weight: bold;">Ragione Sociale</label>
                    <input type="text" pInputText [(ngModel)]="formNuovo.value.ragioneSociale"  placeholder="Ragione Sociale" formControlName="ragioneSociale"  [style]="{'width': '100%'}" inputId="RagioneS"/>                  
                  <small class="p error block" *ngIf="formNuovo.get('ragioneSociale')?.invalid && formNuovo.get('ragioneSociale')?.dirty" style="color: red;">Inserire correttamente la Ragione Sociale!</small>
                    </div>
                  <div class="col-md-6">
                  <label for="Provincia" style="display: block; font-weight: bold;">Provincia</label>
                  <p-dropdown  [options]="provincieItaliane" [(ngModel)]="formNuovo.value.provincia" optionLabel="nome" optionValue="sigla" formControlName="provincia" [style]="{'width': '100%'}" inputId="float-label" placeholder="Seleziona una Provincia"></p-dropdown>
                  <small class="p error block" *ngIf="formNuovo.get('provincia')?.invalid && formNuovo.get('provincia')?.dirty" style="color: red;">Inserire correttamente la Provincia!</small>
                    </div>
                  </div>
                  <br><br>
                  <div class="row">
                    <div class="col-md-6">
                  <label for="Citta" style="display: block; font-weight: bold;">Citta</label>
                  <input type="text" pInputText [(ngModel)]="formNuovo.value.citta"  placeholder="Citta" formControlName="citta"  [style]="{'width': '100%'}" inputId="Citta"/>                   
                  <small class="p error block" *ngIf="formNuovo.get('citta')?.invalid && formNuovo.get('citta')?.dirty" style="color: red;">Inserire correttamente la Città!</small>  
                    </div>
                    <div class="col-md-6">       
                  <label for="Indirizzo" style="display: block; font-weight: bold;">Indirizzo</label>
                  <input type="text" pInputText [(ngModel)]="formNuovo.value.indirizzo"  placeholder="Indirizzo" formControlName="indirizzo"  [style]="{'width': '100%'}" inputId="Indirizzo"/> 
                    
                  <small class="p error block" *ngIf="formNuovo.get('indirizzo')?.invalid && formNuovo.get('indirizzo')?.dirty" style="color: red;">Inserire correttamente l'Indirizzo!</small>  
                  </div>
                   </div>                 
                   <br><br>
                  <div class="row">
                  <div class="col-md-6">               
                  <label for="Cap" style="display: block; font-weight: bold;">Cap</label>
                  <input type="text" pInputText [(ngModel)]="formNuovo.value.cap"  placeholder="Cap" formControlName="cap"  [style]="{'width': '100%'}" inputId="Cap" [minlength]="5" [maxlength]="5"/> 
                  <small class="p error block" *ngIf="formNuovo.get('cap')?.invalid && formNuovo.get('cap')?.dirty" style="color: red;">Inserire correttamente il CAP!</small> 
                  </div> 
                  <div class="col-md-6">
                  <label for="Partita Iva" style="display: block; font-weight: bold;">Partita Iva</label>
                  <input type="text" pInputText [(ngModel)]="formNuovo.value.partitaIva"  placeholder="Partita Iva" formControlName="partitaIva"  [style]="{'width': '100%'}" inputId="Partita Iva" [minlength]="11"  [maxlength]="11"/>                  
                  <small class="p error block" *ngIf="formNuovo.get('partitaIva')?.invalid && formNuovo.get('partitaIva')?.dirty" style="color: red;" >Inserire correttamente la Partita Iva</small> 
                </div>
                  </div>
                </form> 
                <br><br>
                <p-button label="Salva" icon="pi pi-check" styleClass="p-button-outlined p-button-success"
              (onClick)="submitForm()"></p-button>
            <p-button label="Indietro" icon="pi pi-times" styleClass="p-button-outlined p-button-secondary"
              [style]="{ 'margin-left': '.5em' }" routerLink="../elenco"></p-button>
              </div>
            </div>
        </p-card>
        <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" [style]="{'width': '30%', 'font-weight':'bold'}"></p-toast>
      </div>
    </div>
  </div>
