.container-fluid {
    background-image: url('/assets/img/port.jpg');
  }
  .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
  }
  .col{
    max-height: 800px;
      }
      .row{
    max-height: 800px;
      }