<div class="container-fluid">
    <div class="row">
      <div class="col">
        <p-table #dt1 [columns]="cols" [value]="elenco" [tableStyle]="{ 'min-width': '50rem', 'width':'100%' }" [scrollHeight]="'400px'" [scrollable]="true" styleClass="p-datatable-striped" [globalFilterFields]="['ragioneSociale']" >
            <ng-template pTemplate="caption" >
                <div class="header" >
                    <h1 style="font-weight: bold;">Elenco Fornitori</h1>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Filtra per Ragione Sociale" />
                    </span>
                </div>
            </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" style="font-size: x-large;">
                {{ col.header }}
                  <p-button *ngIf="col.header === '' && col.field ==='delete'" icon="pi pi-plus" pTooltip="Aggiungi" routerLink="../nuovo"  styleClass="p-button-rounded p-button-success p-button-outlined">
                  </p-button>
              </th>
              
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" style="font-size: larger;">
                {{ rowData[col.field] }}
                <ng-container *ngIf="col.field === 'edit'">
                  <p-button icon="pi pi-pencil" pTooltip="Modifica" routerLink="../modifica/{{rowData.id}}" styleClass="p-button-rounded p-button-outlined">
                  </p-button>
                </ng-container>              
                <ng-container *ngIf="col.field === 'delete'">
                  <p-button (click)="deleteFornitore(rowData.id)" icon="pi pi-trash" class="p-button-danger" pTooltip="Elimina" styleClass="p-button-rounded p-button-danger p-button-outlined"></p-button>
                </ng-container>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{totRows ? totRows : 0 }} elements.
            </div>
        </ng-template>
        </p-table>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="pageIndex" [totalRecords]="totRows" [rows]="pageSize" [totalRecords]="120" [rowsPerPageOptions]="[3, 5, 10]" [style]="{ 'border-radius':'0px' }"></p-paginator>
        <p-toast  position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" [style]="{'width': '30%', 'font-weight':'bold'}"></p-toast>
        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
      </div>
    </div>
  </div>
