<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p-toast position="top-center" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
        [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"
        [style]="{'width': '30%', 'font-weight':'bold'}"></p-toast>
        
      <p-card header="Modifica Progetto" [style]="{ width: '700px', height: '700px' }"
        class="d-flex align-items-center justify-content-center">
        <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <div class="row">
          <div class="col text-center py-4">
            <form #form="ngForm">
              <label for="codice" style="display: block; font-weight: bold;">Codice</label>
              <input placeholder="Inserisci il Codice" type="text" class="form-control" pInputText
                [(ngModel)]="progettoModel.codice" #codice="ngModel" name="codice" required="required" /><br>
              <p-message severity="error" *ngIf="codice.invalid && codice.touched" text="Campo obbligatorio"
                [style]="{width: '320px', height:'37.6px'}"></p-message>

              <br><br>

              <label for="progetto" style="display: block; font-weight: bold;">Progetto</label>
              <input placeholder="Inserisci il nome del Progetto" type="text" class="form-control" pInputText
                [(ngModel)]="progettoModel.progetto" #progetto="ngModel" name="progetto" required="required" /><br>
              <p-message severity="error" *ngIf="progetto.invalid && progetto.touched" text="Campo obbligatorio"
                [style]="{width: '320px', height:'37.6px'}"></p-message>
              <br><br>

              <p-button label="Salva" icon="pi pi-check" styleClass="p-button-outlined p-button-success"
                (onClick)="modifica()"></p-button>
              <p-button label="Indietro" icon="pi pi-times" styleClass="p-button-outlined p-button-secondary"
                [style]="{ 'margin-left': '.5em' }" routerLink="../../elenco"></p-button>
            </form>
          </div>
        </div>

      </p-card>
    </div>
  </div>
</div>
